/* For mobile size */

@media screen and (max-width: 600px) {
    .nav-container {
        flex-direction: column;
        text-align: center;
    }

    .nav-container-left,
    .nav-container-right {
        width: 400px;

    }

    .nav-container-left {
        margin-left: 25px;
    }

    .nav-container-right {
        flex-direction: column;
    }

    .nav-container-left img {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav-container P {
        font-size: 24px;
    }
}

/* first container,explore your travel,container-1 */
@media (max-width:600px) {
    .banner {
        width: 400px;
        height: 550px;
        margin-top: 20px;
        border-radius: 0;
    }

    .banner-btn {
        flex-direction: column;
    }

    .banner-text-h1 {
        width: 320px;
        height: 20px;
        color: #FFF;
        font-size: 25px;
        font-weight: 800;
        margin-top: 20px;
        margin-left: 25px;
        text-align: center;

    }

    .banner-text-p {
        margin-left: 15px;
        width: 380px;
        font-size: 13px;
    }

    .banner-btn {
        margin-left: 35px;
        margin-top: 5px;
        flex-direction: column;
        align-items: center;
        height: 450px;
        width: 300px;
    }

    .banner-btn button {
        width: 250px;
        margin-bottom: 10px;
        margin-left:7px ;
    }

    .banner-btn-1 input {
        width: 250px;
        margin-right: 20px;

    }

}

/* Our Popular Tours,container-2 */

@media (max-width: 600px) {
    .Popular-Tours {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .Popular-Tours-text,
    .Popular-Tours-img {
        width: 100%;
        height: auto;
        padding: 5px auto;
    }

    .Popular-Tours-text h2 {
        font-size: 28px;
        margin-left: 20px;
    }

    .Popular-Tours-text ul,
    .Popular-Tours-text p {
        width: 80%%;
        font-size: 13px;
        margin: 0 20px;
    }

    .Popular-Tours-img img {
        margin-left: 16px;
    }

    .Popular-Tours-text button {
        margin-left: 20px;
        margin-bottom: 20px;
    }
}


/* Choose Your Destination, container-3 */

@media (max-width:600px) {
    .Your-Destination {
        width: 100%;
        height: auto;
        margin: 50px auto;
    }

    .Your-Destination h2 {
        font-size: 32px;
    }

    .Your-Destination p {
        width: 80%;
        margin-left: 10%;
    }

    .Your-Destination-imgs {
        height: auto;
        margin-left: 25px;
    }

    .Your-Destination-img-part1,
    .Your-Destination-img-part2,
    .Your-Destination-img-part3 {
        height: auto;
        flex-direction: column;
    }

    .Your-Destination-img1 img,
    .Your-Destination-img2 img {
        height: 340px;
    }

    .Your-Destination-img1,
    .Your-Destination-img2,
    .destination-img6,
    .destination-img7,
    .destination-img9,
    .destination-img11,
    .destination-img10 {
        width: 23%;
        position: relative;
        margin-bottom: 15px;

    }

    .Your-Destination-img1 h2,
    .Your-Destination-img2 h2 {
        position: absolute;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-TOP: -58%;
        margin-left: 32%;

    }

    .destination-img6 h2,
    .destination-img7 h2,
    .destination-img9 h2,
    .destination-img11 h2,
    .destination-img10 h2 {

        position: absolute;
        color: #FFF;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-TOP: -60%;
        margin-left: 30%;

    }


}


/* Why Choose Us,container-4 */

@media only screen and (max-width:600px) {
    .container-choose {
        width: 500px;
        height: auto;
        margin: 50px auto;
    }

    .choose-text {
        width:350px;
        height: 150px;
       
    }

    .choose-text h2 {
        font-size: 25px;
        margin-left: 10px;
    }

    .choose-text p {
        width: 400px;
        margin: 0 10px;
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 0 20px;
        font-size: 12px;

    }

    .box {
        flex-direction: column;
        width: 400px;
        height: 550px;
        margin-top: 20px;
    }

    .box-1,
    .box-2,
    .box-3 {
        width:400px;
        margin: 15px 0;
        height: px;
    }

    .box-2 {
        margin-left: 0;
        margin-top: 155px;
    }

    .box-3 {
        margin-top: 30px;
    }

    
    .box-2 {
        margin-top: 15px;
    }

    .box-1,
    .box-2,
    .box-3 img {
        margin: 0 auto;
    }

    .box-3 img {
        margin-left: 15px;
    }

    .box-1,
    .box-2,
    .box-3 h2,
    .box-1,
    .box-2,
    .box-3 p {
        font-size: 15px;
        margin-left: 0;
    }
}


/* A Simple Perfect Place To Get Lost,container-5 */

@media only screen and (max-width: 600px) {
    .Perfect-Place {
        flex-direction: column;
        height: auto;
    }

    .Perfect-Place-text {
        width: 30%;
        height: 500px;
    }

    .Perfect-Place-img {
        width: 30%;
        height: 500px;
    }

    .Perfect-Place-text h2 {
        width: 400px;
        height: 100px;
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 28px;

    }

    .Perfect-Place-text p {
        width: 390px;
        height: 100px;
        font-size: 14px;
        margin-left: 10px;

    }

    .Perfect-Place-text ul {
        width: 390px;
        height: 170px;
        font-size: 14px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .Perfect-Place-text button {
        margin-left: 10px;
    }

    .Perfect-Place-img {
        position: relative;

    }

    .Perfect-Place-img img {
        width: 400px;
        height: 450px;
        margin-left: 8px;
        margin-top: 20px;
    }

    .bd {
        width: 200px;
        margin: 0;
        position: absolute;
    }

    .bd h2 {
        margin-top: 8px;
    }
}

/* Newsletter,container-6 */
@media only screen and (max-width: 767px) {
    .newsletter {
        flex-direction: column;
        height: auto;
    }

    .newsletter-btn,
    .newsletter-img {
        width: 430px;

    }

    .newsletter-img img {
        width: 400px;
        border-radius: 10px;
        margin-top: 15px;
        margin-left: 5px;
    }

    .newsletter-btn-sub {
        width: 90%;
        margin: 20px 7px;
    }

    .newsletter-btn h2,
    .newsletter-btn p,
    .newsletter-btn hr,
    .newsletter-btn input,
    .newsletter-btn button {
        margin: 8px 15px;
    }

    .newsletter-btn hr,
    .newsletter-btn input,
    .newsletter-btn button {
        width: 350px;
    }

    .newsletter-img {
        position: relative;
        display: flex;
    }

    .discount {
        width: 200px;
        position: absolute;
        transform: none;
        margin-top: 115px;
        margin-left: 180px;
        transform: rotate(-19.628deg);
    }

    .discount h2,
    .discount p {
        margin-left: 0;
        text-align: center;
        font-size: 23px;
    }
}


/* added extra section, features */

@media only screen and (max-width:600px) {
    .features {
        width: 400px;
        height: auto;
        border-radius: 10px;
        margin: 50px auto;
    }

    .feature-text {
        margin-top: 30px;
    }

    .feature-text h2 {
        font-size: 30px;
        line-height: 45px;
    }

    .feature-text p {
        font-size: 14px;
        line-height: 22px;
    }

    .feature-icons {
        flex-direction: column;
        gap: 20px;
        text-align: center;
        justify-content: center;
    }

    .feature-temp p {
        font-size: 20px;
        margin-top: 15px;
    }

    .feature-temp i {
        font-size: 40px;
        margin-top: 25px;
    }
}



/* footer section */

@media only screen and (max-width:600px) {
    .footer {
        width: 400px;
        height: 450px;
        border-radius: 10px;
        /* margin: 50px auto; */

    }

    .footer-head {
        font-size: 25px;
        margin-left: 35px;
    }

    .footer-head h2 {
        font-size: 28px;
    }

    .footer-p {
        height: 150px;
        width: 388px;
        margin-left: 10px;
        font-size: 14px;
    }

    .footer-icons {
        margin-left: 22px;
    }

    .footer-hr {
        width: 350px;
        margin-left: 20px;
    }

    .footer-copy {
        margin-left: 65px;
        margin-top: 40px;
        width: 200px;
    }

}