@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,600;0,700;0,900;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;

}

/*navbar-section*/
.nav-container {
    max-width: 1440px;
    margin: 48px auto;
    display: flex;
}

.nav-container-left {
    display: flex;
    min-width: 50%;
    align-items: center;
}

.nav-container-left img {
    width: 42px;
    height: 50px;
    margin-right: 7px;
}

.nav-container P {
    font-size: 36px;
    font-weight: 800;

}

.nav-container-right {
    width: 50%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    color: azure;
}

.nav-container-right a {
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;

}

/* style explore your travel */
.banner {

    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
    width: 1440px;
    margin-top: 50px;
    background-blend-mode: multiply;
    margin: 50px auto;
    border-radius: 16px;
}

.bannar-btn-main {
    width: 800px;
    height: 55px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-text {
    position: absolute;
    color: #FFF;
    text-align: center;
    margin-top: 150px;
    margin-left: 355px;
}

.banner-text-h1 {
    width: 620px;
    height: 80px;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;

}

.banner-text-p {
    width: 676px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-main {
    display: flex;
}

.btn-input {
    width: 174px;
    height: 92px;
}

/* container-2,Our Popular Tours */
.Popular-Tours {
    width: 1440px;
    height: 550px;
    margin: 100px auto;
    display: flex;
    background-color: #FFF;
}

.Popular-Tours-text {
    height: 550px;
    width: 50%;
}

.Popular-Tours-text h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.Popular-Tours-text p,
ul {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 520;

}

.Popular-Tours-text ul {
    margin-left: 15px;
}

button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    font-weight: 700;
}

button:hover {
    background-color: blueviolet;
}

.Popular-Tours-img {
    height: 550px;
    width: 50%;

}

.Popular-Tours-img img {
    object-fit: cover;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    margin-left: 75px;
}


/* Choose Your Destination, container-3 */

.Your-Destination {
    width: 1440px;
    height: 1360px;
    margin: 100px auto;
}

.Your-Destination h2 {
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.Your-Destination p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 640px;
    margin-top: 24px;
    margin-left: 400px;
}

.Your-Destination-imgs {
    width: 1440px;
    height: 1140px;
    margin: 50px auto;

}

.Your-Destination-img-part1 {
    height: 350px;
    width: 100%;
    display: flex;
}

.Your-Destination-img1 {
    width: 50%;
    height: 350px;

}

.Your-Destination-img1 img {
    object-fit: cover;
    width: 99%;
    border-radius: 12px;
}

.Your-Destination-img2 {
    width: 50%;
    height: 350px;
}

.Your-Destination-img2 img {
    object-fit: cover;
    width: 99%;
    margin-left: 10px;
    border-radius: 12px;
}

.Your-Destination-img-part2 {
    height: 350px;
    width: 100%;
    display: flex;
    margin-top: 40px;

}

.destination-img6 {
    width: 33%;
}

.destination-img6 img {
    object-fit: cover;
    width: 97%;
    height: 350px;
    border-radius: 12px;
}

.destination-img7 {
    width: 44%;
}

.destination-img7 img {
    object-fit: cover;
    width: 95%;
    height: 350px;
    margin-left: 8px;
    border-radius: 12px;
}

.destination-img9 {
    width: 23%;
}

.destination-img9 img {
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 12px;
}


.Your-Destination-img-part3 {
    height: 350px;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.destination-img11 {
    width: 43%;
}

.destination-img11 img {
    object-fit: cover;
    width: 99%;
    height: 350px;
    border-radius: 12px;
}

.destination-img10 {
    width: 57%;
}

.destination-img10 img {
    object-fit: cover;
    width: 98%;
    height: 350px;
    margin-left: 18px;
    border-radius: 12px;
}


/* Why Choose Us,container-4 */
.container-choose {
    width: 1440px;
    height: 900px;
    margin: 100px auto;
}

.choose-text {
    width: 1440px;
    height: 200px;
}

.choose-text h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;

}

.choose-text p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 640px;
    margin-top: 24px;
    margin-left: 400px;
}

.box {
    width: 100%;
    height: 300px;
    display: flex;
}



.box h2 {
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
}

.box-1 {
    width: 49%;
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
}

.box-1 img {
    margin-top: 35px;
    margin-left: 35px;
}

.box-1 h2 {
    margin-top: 30px;
    margin-left: 35px;
}

.box-1 p {
    margin-top: 30px;
    margin-left: 35px;
}




.box-2 {
    width: 49%;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    margin-left: 20px;
}

.box-2 img {
    margin-top: 35px;
    margin-left: 35px;
}

.box-2 h2 {
    margin-top: 30px;
    margin-left: 35px;
}

.box-2 p {
    margin-top: 30px;
    margin-left: 35px;
}


.box-3 {
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    height: 300px;
    margin: 25px auto;

}

.box-3 img {
    margin-top: 35px;
    margin-left: 35px;
}

.box-3 h2 {
    margin-top: 30px;
    margin-left: 35px;
}

.box-3 p {
    margin-top: 30px;
    margin-left: 35px;
}



/* A Simple Perfect Place To Get Lost,container-5  */

.Perfect-Place {
    width: 1440px;
    height: 430px;
    margin: 0 auto;
    display: flex;
}

.Perfect-Place-text {
    width: 50%;
}

.Perfect-Place-text h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 53px;
    width: 450px;
    height: 110px;
}

.Perfect-Place-text p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 530px;
    height: 30px;
    margin-top: 15px;
}

.Perfect-Place-text ul {
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    width: 520px;
    margin-top: 30px;
    margin-left: 15px;
}

.Perfect-Place-img {
    width: 50%;
}

.Perfect-Place-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* Newsletter,container-6  */

.newsletter {
    width: 1440px;
    height: 430px;
    display: flex;
    margin: 100px auto;
}

.newsletter-btn {
    width: 43%;
}

.newsletter-btn-sub {
    border: 1px solid red;
    border-radius: 10px;
    width: 95%;
    height: 100%;
}

.newsletter-btn h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    width: 126px;
    margin-top: 40px;
    margin-left: 80px;

}

.newsletter-btn p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    margin-left: 80px;
    width: 315px;
}

.newsletter-btn hr {
    width: 395px;
    margin-left: 80px;
    margin-top: 25px;
}

.newsletter-btn input {
    background-color: rgba(19, 19, 24, 0.05);
    color: rgba(149, 149, 163, 0.3);
    font-size: 16px;
    font-weight: 400;
    width: 395px;
    height: 50px;
    border-radius: 10px;
    gap: 20px;
    margin-left: 80px;
    margin-top: 25px;
    border: none;

}

.newsletter-btn button {
    width: 395px;
    margin-left: 80px;
    margin-top: 25px;
}


.newsletter-img {
    width: 57%;
}

.newsletter-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

/* added extra section,features */
.features {
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    width: 1440px;
    height: 400px;
    margin: 100px auto;
}

.feature-text {
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}

.feature-text h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;

}

.feature-text p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.feature-icons {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 125px;

}

.feature-temp p {
    font-size: 35px;
    margin-top: 35px;

}

.feature-temp i {
    font-size: 70px;
    margin-top: 55px;

}

/* footer section */
footer {
    border: 1px solid rgba(19, 19, 24, 0.05);
    background-color: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 500px;

}

.footer-container {}

.footer-head {
    font-size: ;
    display: flex;
    text-align: center;
    margin-left: 800px;
    margin-top: 100px;
}

.footer-head img {
    width: 40px;
    height: 45px;
}

.footer-head h2 {
    color: var(--Dark-01, #131318);
    font-size: 32px;
    font-weight: 800;
    margin-left: 16px;
}

.footer-container p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 770px;
    height: 50px;
    margin-left: 550px;
    margin-top: 20px;
    text-align: center;
}

.footer-icons {
    /* border: 2px solid tomato; */
    width: 300px;
    height: 24px;
    font-size: 30px;
    text-align: center;
    margin-left: 800px;
    margin-top: 60px;
    display: flex;

}

.fa-brands {
    margin-left: 25px;
}

.footer-container hr {
    background: rgba(19, 19, 24, 0.10);
    width: 870px;
    margin-top: 50px;
    margin-left: 500px;
}